@import-normalize;

:root {
  --main: #101828;
  --secondary: #475467;
  --button: #e44848;
  --block-features: #f2f4f7;
  --rating: #ffc531;
  --inputs: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
  color: var(--main);
}

*:focus-visible {
  outline: 2px solid dodgerblue;
  outline-offset: 2px;
}

ul,
ol {
  list-style-type: none;
}

a {
  color: var(--main);
  text-decoration: none;
}

svg {
  stroke: var(--main);
}

button {
  cursor: pointer;
  letter-spacing: -0.05em;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
