@import-normalize;

:root {
  --main: #101828;
  --secondary: #475467;
  --features: #e44848;
  --block-features: #f2f4f7;
  --rate: #ffc531;
  --inputs: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
  color: #333333;
}

ul,
ol {
  list-style-type: none;
}

a {
  color: #333333;
  text-decoration: none;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
