@import-normalize;

:root {
  --main: #101828;
  --secondary: #475467;
  --button: #e44848;
  --block-features: #f2f4f7;
  --rating: #ffc531;
  --inputs: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
  color: var(--main);
}

ul,
ol {
  list-style-type: none;
}

a {
  color: var(--main);
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100vw;
  height: 100vh;

  overflow-x: hidden;
}
